@import "/app/stylesheets/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
@import "/app/stylesheets/variables.css";

body {
	font-family: var(--ubuntu);
	font-size: 14px;
}
li {
	color: var(--white-text);
	list-style: none;
}

.main__container {
	width: 100%;
}
.wrapper__hero {
	/* border: 1px solid aqua; */
	padding: 64px 165px;
	background: rgb(255, 143, 113);
	background: linear-gradient(90deg, rgba(255, 143, 113, 1) 0%, rgba(255, 62, 85, 1) 100%);
}
.hero {
	display: flex;
	flex-direction: column;
}
.hero__header {
	/* border: 1px dashed palegreen; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.hero__header-left,
.hero__header-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.hero__header-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 60px;
}
.navbar-brand {
	padding: 0;
	margin: 0;
}
.navbar-brand img {
	height: 35px;
	width: 90px;
}
.nav-link {
	color: var(--white-text);
	font-size: 14px;
}
.dropdown-item {
	font-family: var(--ubuntu);
	display: block;
	width: 100%;
	padding: 0.6rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.dropdown a:hover {
	color: #fff;
}
.dropdown a:focus {
	color: #fff;
	text-decoration: underline;
}
.dropdown-item:focus {
	color: #16181b;
	text-decoration: none;
	background-color: #fff;
	font-weight: 500;
}

.hero__header-login{
	color: #fff;
	margin-right: 20px;
}
a.login {
	font-size: 14px;
}
.hero__header-signup button {
	color: var(--cta-text);
	border-radius: 28px;
	background: #fff;
	padding: 8px 35px;
	font-size: 14px;
}
.hero__header-signup button:hover {
	background: var(--cta-hover);
	color: #fff;
}
/* END HEADER */

.jumbotron {
	padding: 8rem 1rem;
	margin-bottom: 2rem;
	background-color: transparent;
	border-radius: 0.3rem;
	color: #fff;
	text-align: center;
	font-family: var(--overpass);
	font-weight: 600;
}
.lead {
	/* font-size: 1.25rem; */
	font-size: 16px;
	font-weight: 400;
	padding-top: 1rem;
	font-family: var(--overpass);
}
.jumbotron__button-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	font-family: var(--ubuntu);
}
.jumbotron__free {
	margin-right: 20px;
}
.jumbotron__free button, .jumbotron__learn button {
	border-radius: 28px;
	padding: 8px 35px;
}
.jumbotron__free button {
	color: var(--cta-text);
}
.jumbotron__free button:hover {
	color: var(--white-text);
	background-color: var(--cta-hover);
}
.jumbotron__learn button:hover {
	color: var(--cta-text);
	background-color: #fff;
}
.free, .learn {
	font-size: 14px;
}
/* END HERO AND HEADER */

.wrapper__future {
	padding: 110px 165px 0 165px;
}
.future {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.future__heading {
	margin-top: 60px;
	color: var(--heading-text);
	font-family: var(--overpass);
	font-weight: 600;
}
.future__body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.title {
	margin-top: 40px;
}
.title p {
	color: var(--heading-text);
	font-family: var(--overpass);
	font-weight: 600;
	font-size: 28px;
	line-height: 28px;
}
.desc p {
	font-size: 16px;
	color: #4C5862;
	letter-spacing: 0.5px;
	line-height: 28px;
}
.col-left, .col-right {
	width: 50%;
	margin-top: 60px;
}
.col-right {
	position: relative;
}
.col-right img {
	position: absolute;
	top: -380px;
	right: -420px;
	width: 880px;
	height: 882px;
	/* z-index: 20; */
}
/* END FUTURE SECTION */

.wrapper__middle {
	border: 1px dashed magenta;
	margin-top: 350px;
	padding: 64px 165px;
	background: rgb(45, 46, 64);
	background: linear-gradient(90deg, rgba(45, 46, 64, 1) 0%, rgba(63, 65, 100, 1) 100%);
	border-bottom-left-radius: 100px;
	border-top-right-radius: 100px;
	height: 365px;
}
.middle {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.middle__img {
	background: url(../images/bg-pattern-circles.svg);
	position: relative;
	/* background-position: center center; */
}
.middle__img img {
	position: absolute;
	width: 472px;
	height: 500px;
	top: -160px;
}
.middle__desc {
	color: #fff;
	display: flex;
	flex-direction: column;
	width: 50%;
}
.middle__desc .h5 {
	font-size: 28px;
	font-family: var(--overpass);
	font-weight: 600;
	line-height: 28px;
}
.middle__desc .lead {
	font-family: var(--ubuntu);
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.5px;
	line-height: 28px;
	text-align: left;
	font-weight: 400;
}
